body {
    background-color: gray;
}

.ex1 {
    width: 400px;
    height: 300px;
    background-color: darkmagenta;
}

.div1 {
    width: 680px;
    background-color: firebrick;
}

.ex2 {
    max-width: 680px;
    background-color: darkslateblue;
}