body {
    background-color: lightpink;
}

.ex1 {
    outline-style: solid;
    outline-width: 10px;
    outline-color: rgb(163, 78, 45);
    outline-offset: 10px;
    width: 400px;
    margin: 30px auto;
    border: 3px solid black;
    background-color: rgb(196, 152, 152);
}