body {
    background-color: lightcoral;
    color: white;
}

/* Exemplo de align-items: center */
.ex1 {
    display: flex;
    height: 200px;
    align-items: center;
    gap: 30px;
    background-color: rgb(94, 40, 67);
}

.ex1 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: white;
    color: darkmagenta;
}

/* Exemplo de align-items: flex-start */
.ex2 {
    display: flex;
    height: 200px;
    align-items: flex-start;
    gap: 30px;
    background-color: rgb(94, 40, 67);
}

.ex2 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: white;
    color: darkmagenta;
}

/* Exemplo de align-items: flex-end */
.ex3 {
    display: flex;
    height: 200px;
    align-items: flex-end;
    gap: 30px;
    background-color: rgb(94, 40, 67);
}

.ex3 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: white;
    color: darkmagenta;
}

/* Exemplo de align-items: stretch */
.ex4 {
    display: flex;
    height: 200px;
    align-items: stretch;
    gap: 30px;
    background-color: rgb(94, 40, 67);
}

.ex4 div {
    width: 100px;
    text-align: center;
    background-color: white;
    color: darkmagenta;
}

/* Exemplo de align-content: center */
.ex5 {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: center;
    gap: 30px;
    background-color: rgb(94, 40, 67);
}

.ex5 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: white;
    color: darkmagenta;
}

/* Exemplo de align-content: space-between */
.ex6 {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
    gap: 30px;
    background-color: rgb(65, 9, 37);
}

.ex6 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: white;
    color: darkmagenta;
}

/* Exemplo de justify-content e align-content: center */
.ex7 {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    align-content: center;
    gap: 30px;
    background-color: rgb(65, 9, 37);
}

.ex7 div {
    width: 100px;
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: white;
    color: darkmagenta;
}