body {
    background-color: blueviolet;
}

.ex1 {
    display: flex;
    gap: 30px;
    background-color: chartreuse;
}

.ex1 div {
    width: 100px;
    height: 100px;
    background-color: crimson;
    align-content: center;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    .ex1 {
        align-items: center;
        flex-direction: column;
    }
}