body {
    background-color: rgb(220, 20, 60);
    justify-items: center;
}

h1 {
    background-color: rgb(255, 165, 0, 0.7);
    color: orangered;
    border: 6px solid orangered;
    /* opacity: 0.5; */
}

h2 {
    background-color: rgb(184, 134, 11, 0.6);
    color: darkgreen;
    border: 4px solid darkgreen;
    /* opacity: 0.5; */
}

p {
    background-color: rgb(255, 99, 71, 0.4);
    color: maroon;
    border: 3px solid maroon;
    /* opacity: 0.5; */
}