body {
  background-color:rgb(162, 162, 162);
}

.link:link {
  color: black;
  background-color: blue;
}

.link:visited {
  color:cyan;
  background-color: red;
}

.link:hover {
  color: deeppink;
  background-color: white;
}

.link:active {
  color: chartreuse;
  background-color: black;
}


.link-btn:link, .link-btn:visited {
  /* background-color: midnightblue; */
  background-color: transparent;
  border: 3px solid midnightblue;
  color: rgb(17, 17, 84);
  padding: 20px 80px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.link-btn:hover, .link-btn:active {
  background-color: midnightblue;
  color: white;
  border: 3px solid white;
  transition: .5s;
}