body {
    background-color: rgb(77, 77, 116);
}

.ex1 {
    background-color: bisque;
    width: 400px;
    margin: 0 auto;
    padding: 50px 100px 20px 10px;
    /* padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 10px; */
}