body {
    background-color: palegreen;
    justify-items: center;
}

.el1 {
    background-color: darkmagenta;
    width: 500px;
}

.ex1 {
    width: 500px;
    padding: 50px;
    box-sizing: border-box;
    background-color: darkgoldenrod;
}